ofxDraggableMarker-example/bin
ofxDraggableMarker-example-0.9/bin
ofxDraggableMarker-example-0.9/obj/
ofxDraggableMarker-example-0.9/.vs/
ofxDraggableMarker-example-0.9/ofxDraggableMarker-example-0_9.VC.db
ofxDraggableMarker-example-0.9/ofxDraggableMarker-example-0_9.vcxproj.user
ofxDraggableMarker-example-0.9/ofxDraggableMarker-example-0_9.VC.VC.opendb
